<form>
    <field>
        <type>header</type>
        <label>General</label>
    </field>
    <field>
        <id>settings.general.enable</id>
        <label>Enable</label>
        <type>checkbox</type>
        <help>Enable NetBird. Individual instances are managed on the Instances page.</help>
    </field>
    <field>
        <type>header</type>
        <label>Syslog Logging</label>
    </field>
    <field>
        <id>settings.syslog.logLevel</id>
        <label>Log Level</label>
        <type>dropdown</type>
        <help>Set the syslog logging level, shared across every instance. Setting a certain log level will cause all messages of the specified and more severe log levels to be logged.</help>
    </field>
</form>
